@page
@model ngTV.Pages.LoadingPage.LoadingPageModel
@{
}

<link href="~/css/LoadingPageStyles/LoadingPage.css" rel="stylesheet"/>
<div class="container-fluid" id="holder">
    <div class="row">
        <div class="col">
            <p id="RandomTextGoesHere" class="RandomTextColorFormating"></p>
            <div class="TheLoadingBar">
                <div class="TheProgress">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/LoadingPageJavaScript/LoadingPage.js"></script>