@page
@model FrontModel
@{
}

<link href="~/css/EnteranceStyles/Front.css" rel="stylesheet" type="text/css">
<div id="TheTopContainer" class="d-flex justify-content-center align-items-center">

 <div class="container"> 
    
     <div class="col d-flex justify-content-center align-items-center">

            <img id="ThisIsTheLogoHere" class="img-fluid" src="~/Pics/EnterancePics/ngcLogo.png" alt="" onclick="RedirectUserToLoadingPage()">

     </div>
 </div>
</div>
<script src="~/js/EnteranceJavaScript/Front.js"></script>






